body {
    font-family: 'Raleway', sans-serif;
    background: black;
    color: white;
    margin: 0;
    padding: 0;
}

$fighter: spring, ribbon, ninja, master, min, mech, helix;

$spring: spring, #097db7, #0558a9, #a22e89;
$ribbon: ribbon, #c43a2f, #b50000, #cf9f09;
$ninja: ninja, #0e4d91, #000036, #118967;
$master: master, #f2f2f2, #7d7d7d, #69538b;
$min: min, #85c52c, #16912e, #b76d1e;
$mech: mech, #FFA20A, #ec841a, #e1572d;
$helix: helix, #1AB593, #04593c, #af3a8f;

$arms-yellow: #feff01;

@mixin bg-gradient($light-color, $dark-color) {
    background: $dark-color;
    background: -moz-radial-gradient(center, ellipse cover, $light-color 0%, $dark-color 90%);
    background: -webkit-radial-gradient(center, ellipse cover, $light-color 0%,$dark-color 90%);
    background: radial-gradient(ellipse at center, $light-color 0%,$dark-color 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-color', endColorstr='$dark-color',GradientType=1 );
}

@each $name, $bg1, $bg2, $swirl in $spring, $ribbon, $ninja, $master, $min, $mech, $helix {
    .bg.#{$name} {
        @include bg-gradient( $bg1, $bg2 );
    }
    #bgShape.#{$name} {
        .gradient-color stop {  
            stop-color: $swirl;
        }
    }
}

.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    background-color: $arms-yellow;
    
    &.loaded {
        display: none;
    }
}

main.stage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.shape-wrap {
    position: absolute;
    z-index: 3;
    
    &.shape-wrap--lines {
        right: 0;
        top: 24px;
        left: 220px;
        bottom: 0;
        margin: 0 auto;
        max-width: 1030px;
        z-index: 3;
        
        svg {
            height: 100%;
        }
    }
    
    &.shape-wrap--swirl {
        right: 300px;
        top: 54px;
        left: 0;
        z-index: 2;
        
        svg {
            height: 100%;
        }
    }
    
    #lines {
        .line-shape {
            fill: rgba(255, 255, 255, .5);
        }
    }
}

#swirl {
    
    .cls-1 {
        fill: url(#linear-gradient);
    }

    .cls-2 {
        fill: url(#linear-gradient-2);
    }

    .cls-3 {
        fill: url(#linear-gradient-3);
    }

    .cls-4 {
        fill: url(#linear-gradient-4);
    }

    .cls-5 {
        fill: url(#linear-gradient-5);
    }
}

section.arms {

    .arms__wrap {
        position: absolute;
        top: 24px;
        left: 48px;
        z-index: 5;
        opacity: 0;
    }
    
    .arms--active {
        opacity: 1;
    }
    
    .arm-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 1em;
        height: 1em;
        margin: .1em;
        font-size: 6em;
        background-color: #f0f8ff40;
        border-radius: .08em;
        
        img {
            width: 110%;
            transform: translateY(-9px);
        }
    }
}

section.entrance {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 4;
    
    img.art {
        position: absolute;
        top: -15%;
        left: -2000px;
        opacity: 0;
        transition: .2s ease-in-out;
        
        &.art--active {
            left: 0;
            opacity: 1;
            animation: bob .7s ease-in-out infinite;
        }   
        
        &.spring {
            top: -16px;
            left: 54px;
            width: 80vw;
        }
        
        &.ribbon {
            top: -16px;
            left: 54px;
            width: 80vw;
        }
        
        &.ninja {
            top: -311px;
            left: 170px;
            width: 70vw;
        }
        
        &.master {
            top: -64px;
            width: 100vw;
        }
        
        &.min {
            top: -16px;
            left: 54px;
            width: 80vw;
        }
        
        &.mech {
            top: -16px;
            width: 90vw;
        }
        
        &.helix {
            top: 128px;
            left: 54px;
            width: 60vw;
        }
    }
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: .2s ease-in-out;
        
        &.bg--active {
            opacity: 1;
        }
    }
}

.fighter-name {
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
    z-index: 4;
}

h1.fighter-name__h1 {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 32px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



nav.options {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    height: 128px;
    width: 100%;
    font-size: 1.8em;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 95%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 95%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 95%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    z-index: 5;
    
    ul {
        margin: 24px 32px;
    }
    
    li.options__btn {
        display: inline-block;
        line-height: 26px;
        margin: 0 8px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

        &.-set:before {
            content: '+';
            font-size: 1em;
            font-weight: 400;
        }
        
        &.-settings:before {
            content: 'X';
        }
        
        &.-back:before {
            content: 'B';
        }
        
        &.-ok:before {
            content: 'A';
        }
        
        &:before {
            content: '';
            font-family: "Roboto", sans-serif;
            font-size: .7em;
            font-weight: 500;
            text-align: center;
            display: inline-block;
            vertical-align: bottom;
            width: 26px;
            height: 26px;
            margin-right: 10px;
            border-radius: 50%;
            background-color: $arms-yellow;
            color: black;
        }
    }
}

section.selection {
    position: absolute;
    bottom: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 6;
        
    .fighter-selection {
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 2em;
        
        .fighter-avatar {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.4em;
            height: 2.4em;
            margin: 0.18em;
            font-size: 1em;
            background-color: $arms-yellow;
            border: 2px solid #777;
            border-radius: 50%;
            transition: .05s ease-out;
            
            img {
                width: 2.38em;
                height: 2.38em;
                font-size: 1em;
                border-radius: 50%;
            }
                        
            &:hover {
                font-size: 1em;
                transform: scale(1.18,1.18);
                border: 2px solid $arms-yellow;
                z-index: 2;
                
                &:before {
                    content: '';
                    position: absolute;
                    top: -.2em;
                    left: 0;
                    width: .862em;
                    height: .862em;
                    font-size: 1em;
                    background-color: $arms-yellow;
                    border-radius: 50%;
                    animation: pulse .5s infinite ease-out;
                    z-index: 2;
                }
                
                &:after {
                    content: '1';
                    position: absolute;
                    left: .5em;
                    align-self: flex-start;
                    line-height: .87em;
                    color: black;
                    font-size: 0.6em;
                    text-align: center;
                    z-index: 2;
                }
            }
            
            &.fighter-avatar--active {
                animation: figher-container-resize .1s ease-out;
                
                img {
                    animation: img-flash .2s ease-out;
                }
                
                
                &:before {
                    content: '';
                    position: absolute;
                    top: -.2em;
                    left: 0;
                    width: 1em;
                    height: 1em;
                    font-size: .75em;
                    background-color: #999;
                    border-radius: 50%;
                    z-index: 2;
                }
                
                &:after {
                    content: '1';
                    position: absolute;
                    left: .5em;
                    align-self: flex-start;
                    line-height: .9em;
                    color: black;
                    font-size: 0.5em;
                    text-align: center;
                    z-index: 2;
                }
                
                &:hover {
                    transform: scale(1,1);
                    border: 2px solid #777;
                    
                    &:before {
                        font-size: .75em;
                        background-color: #999;
                        animation: unset;
                    }
                    
                    &:after {
                        left: .51em;
                        line-height: .9em;
                        font-size: 0.5em;
                    }
                }
            }
        }
    } 
}

// Animation

@keyframes pulse {
    0% { transform: scale(1,1); }
    25% { transform: scale(1.05,1.05); }
    50% { transform: scale(1.15,1.15); }
    75% { transform: scale(1.05,1.05); }
    100% { transform: scale(1,1); }
}

@keyframes img-flash {
    0% { opacity: .1; }
    100% { opacity: 1; }
}

@keyframes bob {
    0% { transform: translateY(-.5em); }
    50% { transform: translateY(.2em); }
    100% { transform: translateY(-.5em); }
}

@keyframes figher-container-resize {
    0% { transform: scale(1.22,1.22); }
    100% { transform: scale(1,1); }
}

