@keyframes pulse {
  0% {
    transform: scale(1, 1); }
  25% {
    transform: scale(1.05, 1.05); }
  50% {
    transform: scale(1.15, 1.15); }
  75% {
    transform: scale(1.05, 1.05); }
  100% {
    transform: scale(1, 1); } }
@keyframes down-pulse {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(0.9, 0.9); }
  100% {
    transform: scale(1, 1); } }
@keyframes img-flash {
  0% {
    opacity: .1; }
  100% {
    opacity: 1; } }
@keyframes bob {
  0% {
    transform: translateY(-0.5em); }
  50% {
    transform: translateY(0.2em); }
  100% {
    transform: translateY(-0.5em); } }
@keyframes figher-container-resize {
  0% {
    transform: scale(1.22, 1.22); }
  100% {
    transform: scale(1, 1); } }
#start {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 9; }
  #start .start-button {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 2.2em;
    font-weight: 700;
    letter-spacing: .02em;
    text-transform: uppercase;
    margin-bottom: 32px;
    color: #fdfe0c; }
    #start .start-button .trigger {
      font-size: .55em;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      background-color: #fdfe0c;
      border-radius: 2px;
      padding: 1px 9px;
      margin: 0 10px;
      color: black; }
      #start .start-button .trigger:first-child {
        margin-left: 14px;
        border-top-left-radius: 10px; }
      #start .start-button .trigger:last-child {
        border-top-right-radius: 10px; }
    #start .start-button .cross {
      font-family: "Arial", "Helvetica", sans-serif;
      font-size: .8em;
      font-weight: 800; }
  #start #go {
    position: absolute;
    bottom: 100px;
    width: 1em;
    height: auto;
    display: block;
    z-index: 10;
    font-size: 15em;
    fill: #fdfe0c;
    transition: .2s;
    animation: fade-colour 2s 2s ease-in-out infinite alternate;
    cursor: pointer; }
    #start #go.down-pulse {
      animation: down-pulse .2s; }
  #start .start-art {
    margin-top: 0;
    width: 75vw;
    z-index: 9; }
  #start .start-logo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: -5px;
    bottom: 0;
    left: 40px;
    right: 0;
    z-index: 8; }
    #start .start-logo svg {
      width: 115vw;
      height: auto;
      fill: #fdfe0c;
      position: absolute;
      top: -10px; }

.start-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(/resources/images/spring-stadium.jpg);
  z-index: 7;
  animation: zoom 30s linear infinite; }

@keyframes fade-colour {
  0% {
    fill: #fdfe0c; }
  25% {
    fill: #fdfe0c; }
  50% {
    fill: black; }
  75% {
    fill: #fdfe0c; }
  100% {
    fill: #fdfe0c; } }
#arms .glove {
  position: absolute;
  top: 24px;
  left: 48px;
  z-index: 5;
  opacity: 0; }
#arms .glove--active {
  opacity: 1; }
#arms .glove__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  margin: .1em;
  font-size: 5.4em;
  background-color: #f0f8ff40;
  border-radius: .08em; }
  #arms .glove__bg img {
    width: 110%;
    transform: translateY(-9px); }

.gradient.gradient--spring {
  background: #0558a9;
  background: -moz-radial-gradient(center, ellipse cover, #097db7 0%, #0558a9 90%);
  background: -webkit-radial-gradient(center, ellipse cover, #097db7 0%, #0558a9 90%);
  background: radial-gradient(ellipse at center, #097db7 0%, #0558a9 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-color', endColorstr='$dark-color',GradientType=1 ); }

#background-abstracts.abstracts--spring svg #linear-gradient stop {
  stop-color: #a22e89; }
#background-abstracts.abstracts--spring svg #radial-gradient stop:first-child {
  stop-color: #097db7; }
#background-abstracts.abstracts--spring svg #radial-gradient stop:last-child {
  stop-color: #0558a9; }

.gradient.gradient--ribbon {
  background: #b50000;
  background: -moz-radial-gradient(center, ellipse cover, #c43a2f 0%, #b50000 90%);
  background: -webkit-radial-gradient(center, ellipse cover, #c43a2f 0%, #b50000 90%);
  background: radial-gradient(ellipse at center, #c43a2f 0%, #b50000 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-color', endColorstr='$dark-color',GradientType=1 ); }

#background-abstracts.abstracts--ribbon svg #linear-gradient stop {
  stop-color: #cf9f09; }
#background-abstracts.abstracts--ribbon svg #radial-gradient stop:first-child {
  stop-color: #c43a2f; }
#background-abstracts.abstracts--ribbon svg #radial-gradient stop:last-child {
  stop-color: #b50000; }

.gradient.gradient--ninjara {
  background: #000036;
  background: -moz-radial-gradient(center, ellipse cover, #0e4d91 0%, #000036 90%);
  background: -webkit-radial-gradient(center, ellipse cover, #0e4d91 0%, #000036 90%);
  background: radial-gradient(ellipse at center, #0e4d91 0%, #000036 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-color', endColorstr='$dark-color',GradientType=1 ); }

#background-abstracts.abstracts--ninjara svg #linear-gradient stop {
  stop-color: #118967; }
#background-abstracts.abstracts--ninjara svg #radial-gradient stop:first-child {
  stop-color: #0e4d91; }
#background-abstracts.abstracts--ninjara svg #radial-gradient stop:last-child {
  stop-color: #000036; }

.gradient.gradient--master {
  background: #7d7d7d;
  background: -moz-radial-gradient(center, ellipse cover, #f2f2f2 0%, #7d7d7d 90%);
  background: -webkit-radial-gradient(center, ellipse cover, #f2f2f2 0%, #7d7d7d 90%);
  background: radial-gradient(ellipse at center, #f2f2f2 0%, #7d7d7d 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-color', endColorstr='$dark-color',GradientType=1 ); }

#background-abstracts.abstracts--master svg #linear-gradient stop {
  stop-color: #69538b; }
#background-abstracts.abstracts--master svg #radial-gradient stop:first-child {
  stop-color: #f2f2f2; }
#background-abstracts.abstracts--master svg #radial-gradient stop:last-child {
  stop-color: #7d7d7d; }

.gradient.gradient--min {
  background: #16912e;
  background: -moz-radial-gradient(center, ellipse cover, #85c52c 0%, #16912e 90%);
  background: -webkit-radial-gradient(center, ellipse cover, #85c52c 0%, #16912e 90%);
  background: radial-gradient(ellipse at center, #85c52c 0%, #16912e 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-color', endColorstr='$dark-color',GradientType=1 ); }

#background-abstracts.abstracts--min svg #linear-gradient stop {
  stop-color: #b76d1e; }
#background-abstracts.abstracts--min svg #radial-gradient stop:first-child {
  stop-color: #85c52c; }
#background-abstracts.abstracts--min svg #radial-gradient stop:last-child {
  stop-color: #16912e; }

.gradient.gradient--mech {
  background: #ec841a;
  background: -moz-radial-gradient(center, ellipse cover, #FFA20A 0%, #ec841a 90%);
  background: -webkit-radial-gradient(center, ellipse cover, #FFA20A 0%, #ec841a 90%);
  background: radial-gradient(ellipse at center, #FFA20A 0%, #ec841a 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-color', endColorstr='$dark-color',GradientType=1 ); }

#background-abstracts.abstracts--mech svg #linear-gradient stop {
  stop-color: #e1572d; }
#background-abstracts.abstracts--mech svg #radial-gradient stop:first-child {
  stop-color: #FFA20A; }
#background-abstracts.abstracts--mech svg #radial-gradient stop:last-child {
  stop-color: #ec841a; }

.gradient.gradient--helix {
  background: #04593c;
  background: -moz-radial-gradient(center, ellipse cover, #1AB593 0%, #04593c 90%);
  background: -webkit-radial-gradient(center, ellipse cover, #1AB593 0%, #04593c 90%);
  background: radial-gradient(ellipse at center, #1AB593 0%, #04593c 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-color', endColorstr='$dark-color',GradientType=1 ); }

#background-abstracts.abstracts--helix svg #linear-gradient stop {
  stop-color: #af3a8f; }
#background-abstracts.abstracts--helix svg #radial-gradient stop:first-child {
  stop-color: #1AB593; }
#background-abstracts.abstracts--helix svg #radial-gradient stop:last-child {
  stop-color: #04593c; }

#background-gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1; }
  #background-gradient .gradient {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: .2s ease-in-out; }
    #background-gradient .gradient.gradient--active {
      opacity: 1; }

#background-abstracts .abstracts {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; }
  #background-abstracts .abstracts.abstracts__lines {
    right: 0;
    top: 24px;
    left: 220px;
    bottom: 0;
    margin: 0 auto;
    max-width: 1030px;
    z-index: 3; }
    #background-abstracts .abstracts.abstracts__lines svg {
      height: 100%; }
      #background-abstracts .abstracts.abstracts__lines svg path {
        fill: rgba(255, 255, 255, 0.5); }
  #background-abstracts .abstracts.abstracts__swirl {
    top: -45vh;
    left: 50%;
    right: 50%;
    bottom: 0;
    margin: 0 -50%;
    z-index: 2; }
    #background-abstracts .abstracts.abstracts__swirl svg {
      height: 100%; }
      #background-abstracts .abstracts.abstracts__swirl svg .swirl-1 {
        fill: url(#linear-gradient); }
      #background-abstracts .abstracts.abstracts__swirl svg .swirl-2 {
        fill: url(#linear-gradient-2); }
      #background-abstracts .abstracts.abstracts__swirl svg .swirl-3 {
        fill: url(#radial-gradient); }

#chosen-fighter {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 4; }
  #chosen-fighter img.art {
    position: absolute;
    top: 5%;
    left: -100vw;
    height: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .2s ease-in-out; }
    #chosen-fighter img.art.art--active {
      top: 5%;
      left: 7vw;
      opacity: 1;
      animation: bob .7s ease-in-out infinite; }
      #chosen-fighter img.art.art--active.spring {
        left: 4vw; }
      #chosen-fighter img.art.art--active.ninjara {
        top: -5%;
        left: 12vw; }
    #chosen-fighter img.art.spring {
      left: -104vw;
      height: 100%; }
    #chosen-fighter img.art.ribbon {
      height: 100%; }
    #chosen-fighter img.art.ninjara {
      top: -5%;
      left: -112vw; }

#fighter-select {
  position: absolute;
  bottom: 80px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 6; }
  #fighter-select .fighter__selection {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    cursor: pointer; }
    #fighter-select .fighter__selection .avatar {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.4em;
      height: 2.4em;
      margin: 0.28em;
      font-size: 1em;
      background-color: #898f9d;
      border-radius: 50%;
      transition: .05s ease-out; }
      #fighter-select .fighter__selection .avatar img {
        transform: scale3d(1, 1, 1);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid #898f9d; }
      #fighter-select .fighter__selection .avatar:hover {
        transform: scale3d(1.18, 1.18, 1.18);
        background-color: #fdfe0c;
        z-index: 2; }
        #fighter-select .fighter__selection .avatar:hover .avatar__hover {
          opacity: 1; }
        #fighter-select .fighter__selection .avatar:hover img {
          border: 4px solid #fdfe0c; }
      #fighter-select .fighter__selection .avatar .avatar__hover {
        position: absolute;
        top: -.2em;
        left: .06em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1em;
        height: 1em;
        font-size: 1.08em;
        border-radius: 50%;
        z-index: 2;
        opacity: 0; }
      #fighter-select .fighter__selection .avatar .avatar__number {
        position: absolute;
        color: black;
        font-size: 0.7em;
        text-align: center;
        z-index: 2; }
        #fighter-select .fighter__selection .avatar .avatar__number:before {
          content: '1'; }
      #fighter-select .fighter__selection .avatar .avatar__pulse-bg {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #fdfe0c;
        animation: pulse .5s infinite ease-in; }
      #fighter-select .fighter__selection .avatar.avatar--active {
        transform: scale3d(1, 1, 1);
        cursor: default; }
        #fighter-select .fighter__selection .avatar.avatar--active img {
          animation: img-flash .2s ease-out; }
        #fighter-select .fighter__selection .avatar.avatar--active .avatar__hover {
          top: -.3em;
          font-size: .84em;
          opacity: 1; }
        #fighter-select .fighter__selection .avatar.avatar--active .avatar__number {
          font-size: 0.68em; }
        #fighter-select .fighter__selection .avatar.avatar--active .avatar__pulse-bg {
          animation: unset;
          background-color: #b0b4bd; }
        #fighter-select .fighter__selection .avatar.avatar--active:hover {
          transform: scale3d(1, 1, 1);
          background-color: #898f9d; }
          #fighter-select .fighter__selection .avatar.avatar--active:hover img {
            border: 2px solid #898f9d; }

h1.fighter__name {
  position: absolute;
  bottom: 88px;
  margin: 0 auto;
  z-index: 4;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 32px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

#footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  height: 128px;
  width: 100%;
  font-size: 1.8em;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 95%, black 100%);
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 95%, black 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 95%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  z-index: 5; }
  #footer ul.options {
    margin: 24px 32px; }
    #footer ul.options li.options__button {
      display: inline-block;
      line-height: 26px;
      margin: 0 8px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
      #footer ul.options li.options__button.-set:before {
        content: '+';
        font-size: 1em;
        font-weight: 400; }
      #footer ul.options li.options__button.-settings:before {
        content: 'X'; }
      #footer ul.options li.options__button.-back:before {
        content: 'B'; }
      #footer ul.options li.options__button.-ok:before {
        content: 'A'; }
      #footer ul.options li.options__button:before {
        content: '';
        font-family: "Roboto", sans-serif;
        font-size: .7em;
        font-weight: 500;
        text-align: center;
        display: inline-block;
        vertical-align: bottom;
        width: 26px;
        height: 26px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: #fdfe0c;
        color: black; }

body {
  font-family: 'Raleway', sans-serif;
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden; }

#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 200vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  z-index: 10; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

#loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: black;
  opacity: 1;
  z-index: 999; }
  #loading.loading--hide {
    display: none !important; }

.loading__logo {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3; }

.loading__tag {
  position: absolute;
  bottom: 0;
  right: 53px;
  width: 200px;
  animation: slide-down 2s 2s ease-out forwards; }

.loading__background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 160%;
  background-color: #fdfe0c;
  background: -moz-linear-gradient(left, #fdfe0c 85%, rgba(253, 254, 12, 0) 100%);
  background: -webkit-linear-gradient(left, #fdfe0c 85%, rgba(253, 254, 12, 0) 100%);
  background: linear-gradient(to right, #fdfe0c 85%, rgba(253, 254, 12, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfe0c', endColorstr='#00fdfe0c',GradientType=1 );
  opacity: 1;
  animation: slide-left 1s 2.3s ease-out forwards;
  z-index: -1; }

#blank {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100vw;
  width: 100%;
  background-color: black;
  z-index: 10; }

@keyframes slide-down {
  0% {
    bottom: 0; }
  100% {
    bottom: -100vw; } }
@keyframes slide-left {
  0% {
    right: 0; }
  100% {
    right: 200vw; } }
@keyframes fade-out {
  0% {
    opacity: 1;
    width: 100%; }
  100% {
    opacity: 0;
    width: 0; } }
@keyframes zoom {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

/*# sourceMappingURL=default.css.map */
