@each $name, $bg1, $bg2, $swirl in $spring, $ribbon, $ninjara, $master, $min, $mech, $helix {
    .gradient.gradient--#{$name} {
        @include background-gradient( $bg1, $bg2 );
    }
    #background-abstracts.abstracts--#{$name} {        
        svg #linear-gradient stop {  
            stop-color: $swirl;
        }
        .swirl-3 {
            fill: $bg1;
        }
    }
}

#background-gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    
    .gradient {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: .2s ease-in-out;
        
        &.gradient--active {
            opacity: 1;
        }
    }
}

#background-abstracts {
    .abstracts {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 3;
        
        &.abstracts__lines {
            right: 0;
            top: 24px;
            left: 220px;
            bottom: 0;
            margin: 0 auto;
            max-width: 1030px;
            opacity: 0;
            z-index: 3;
            
            &.show {
                opacity: 1;
            }

            svg {
                height: 100%;

                path {
                    fill: $abstract-lines-colour;
                }
            }
        }
        
        &.abstracts__swirl {
            top: -45vh;
            left: 50%;
            right: 50%;
            bottom: 0;
            margin: 0 -50%;
            z-index: 2;
            
            &.show {
                opacity: 1;
            }
            
            svg {
                height: 100%;
                
                .swirl-1 {
                    fill: url(#linear-gradient);
                }

                .swirl-2 {
                    fill: url(#linear-gradient-2);
                }
            }
        }
    }
}