#fighter-select {
    position: absolute;
    bottom: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 6;
        
    .fighter__selection {
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 2em;
        cursor: pointer;

        // @each $name, $bg1, $bg2, $swirl in $spring, $ribbon, $ninjara, $master, $min, $mech, $helix {
        //     ##{$name} {
        //         background-image: url(../../resources/images/avatars/avatar-#{$name}.png);
        //         background-size: 115%;
        //         background-position: center;
        //     }
        // }
        
        .avatar {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.4em;
            height: 2.4em;
            margin: 0.28em;
            font-size: 1em;
            background-color: $avatar-border;
            border-radius: 50%;
            transition: .05s ease-out;
            
            img {
                transform: scale3d(1,1,1);
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 2px solid $avatar-border;
            }
                        
            &:hover {
                transform: scale3d(1.18,1.18,1.18);
                background-color: $main-colour;
                z-index: 2;
                
                .avatar__hover {
                    opacity: 1;
                }

                img {
                    border: 4px solid $main-colour;
                }
            }

            .avatar__hover {
                position: absolute;
                top: -.2em;
                left: .06em;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1em;
                height: 1em;
                font-size: 1.08em;
                border-radius: 50%;
                z-index: 2;
                opacity: 0;
            }

            .avatar__number {
                position: absolute;
                color: black;
                font-size: 0.7em;
                text-align: center;
                z-index: 2;

                &:before {
                    content: '1';
                }
            }

            .avatar__pulse-bg {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: $main-colour;
                animation: pulse .5s infinite ease-in;
            }
            
            &.avatar--active {
                transform: scale3d(1,1,1);
                cursor: default;
                
                img {
                    animation: img-flash .2s ease-out;
                }

                .avatar__hover {
                    top: -.3em;
                    font-size: .84em;
                    opacity: 1;
                }
    
                .avatar__number {
                    font-size: 0.68em;
                }
    
                .avatar__pulse-bg {
                    animation: unset;
                    background-color: lighten( $avatar-border, 14% );
                }
                
                &:hover {
                    transform: scale3d(1,1,1);
                    background-color: $avatar-border;

                    img {
                        border: 2px solid $avatar-border;
                    }
                }
            }
        }
    } 
}

h1.fighter__name {
    position: absolute;
    bottom: 88px;
    margin: 0 auto;
    z-index: 4;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 32px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
