#fighter-select {
    position: absolute;
    bottom: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 6;
        
    .fighter__selection {
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 2em;
        
        .avatar {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.4em;
            height: 2.4em;
            margin: 0.18em;
            font-size: 1em;
            background-color: $main-colour;
            border: 2px solid #777;
            border-radius: 50%;
            transition: .05s ease-out;
            
            img {
                width: 2.38em;
                height: 2.38em;
                font-size: 1em;
                border-radius: 50%;
            }
                        
            &:hover {
                font-size: 1em;
                transform: scale(1.18,1.18);
                border: 2px solid $main-colour;
                z-index: 2;
                
                &:before {
                    content: '';
                    position: absolute;
                    top: -.2em;
                    left: 0;
                    width: .862em;
                    height: .862em;
                    font-size: 1em;
                    background-color: $main-colour;
                    border-radius: 50%;
                    animation: pulse .5s infinite ease-out;
                    z-index: 2;
                }
                
                &:after {
                    content: '1';
                    position: absolute;
                    left: .5em;
                    align-self: flex-start;
                    line-height: .87em;
                    color: black;
                    font-size: 0.6em;
                    text-align: center;
                    z-index: 2;
                }
            }
            
            &.fighter__avatar--active {
                animation: figher-container-resize .1s ease-out;
                
                img {
                    animation: img-flash .2s ease-out;
                }
                
                &:before {
                    content: '';
                    position: absolute;
                    top: -.2em;
                    left: 0;
                    width: 1em;
                    height: 1em;
                    font-size: .75em;
                    background-color: #999;
                    border-radius: 50%;
                    z-index: 2;
                }
                
                &:after {
                    content: '1';
                    position: absolute;
                    left: .5em;
                    align-self: flex-start;
                    line-height: .9em;
                    color: black;
                    font-size: 0.5em;
                    text-align: center;
                    z-index: 2;
                }
                
                &:hover {
                    transform: scale(1,1);
                    border: 2px solid #777;
                    
                    &:before {
                        font-size: .75em;
                        background-color: #999;
                        animation: unset;
                    }
                    
                    &:after {
                        left: .51em;
                        line-height: .9em;
                        font-size: 0.5em;
                    }
                }
            }
        }
    } 
}

h1.fighter__name {
    position: absolute;
    bottom: 80px;
    margin: 0 auto;
    z-index: 4;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 32px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
