// Main Colours
$main-colour: #fdfe0c;
$arms-glove-background: rgba(240, 248, 255, 0.25);
$abstract-lines-colour: rgba(255, 255, 255, .5);

// Background Gradient and Shape Colours
$spring: spring, #097db7, #0558a9, #a22e89;
$ribbon: ribbon, #c43a2f, #b50000, #cf9f09;
$ninjara: ninjara, #0e4d91, #000036, #118967;
$master: master, #f2f2f2, #7d7d7d, #69538b;
$min: min, #85c52c, #16912e, #b76d1e;
$mech: mech, #FFA20A, #ec841a, #e1572d;
$helix: helix, #1AB593, #04593c, #af3a8f;